/*  DEFINITION DES POLICES  */
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/*  BODY  */
body {
    font-family: "Roboto", arial, serif;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
}
#bloc_page {
    margin: auto;
    width: 100%;
    z-index: 1;
}

/*  LOADING SPINNER  */
#loaderBloc {
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: opacity 0.1s forwards;
    animation-duration: 0.5s;
    animation-delay: 1s;
}
@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}
.loader {
    position: absolute;
    position: fixed;
    margin: auto;
    width: 150px;
    height: 150px;
    top: 120px;
    left: 30%;
    right: 30%;
    border-radius: 50%;
    background: linear-gradient(#9356dc, #ff79da);
    animation: animate 0.4s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f5f5f5;
    border: solid #ff79da 1px;
    border-radius: 50%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#9356dc, #ff79da);
}
.loader span:nth-child(2) {
    filter: blur(10px);
}
.loader span:nth-child(4) {
    filter: blur(35px);
}
#loaderBloc img {
    position: absolute;
    position: fixed;
    z-index: 2;
    margin: auto;
    width: 130px;
    top: 185px;
    left: 33%;
    right: 33%;
    animation: pulse 2s forwards;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

/*  HEADER  */
header {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 30px auto 0 auto;
    padding-bottom: 10px;
    box-shadow: 0 5px 3px -3px #c1c1c1;
}
header img {
    width: 50%;
}

/*  LOCALISATION */
#bloc_saisie {
    width: 100%;
    height: 50px;
    background-color: #e8e8e8;
}
.barre_recherche {
    display: flex;
    width: 250px;
    height: 100%;
    margin-left: 30%;
}
.barre_recherche form {
    display: flex;
    margin: 15px 0 15px 0;
}
.barre_recherche i {
    font-size: 100%;
    margin-right: 10px;
    color: #353535;
    opacity: 90%;
}
.barre_recherche input {
    border: none;
    width: 150px;
    font-size: 110%;
    font-weight: 500;
    background-color: unset;
}
input:focus {
    outline: none;
}
input::placeholder {
    font-family: "Roboto", arial, serif;
    color: #353535;
    opacity: 90%;
}

/*  BANIERE  */
#baniere {
    text-align: center;
    padding: 25px 15px 50px 10px;
}
#baniere h1 {
    font-size: 150%;
    font-weight: 900;
    margin: 10px 50px 10px 50px;
}
#baniere p {
    width: 350px;
    font-size: 110%;
    font-weight: 300;
    margin: 0 auto 35px auto;
}
.bouton {
    font-family: "Roboto", arial, serif;
    font-size: 95%;
    font-weight: 500;
    width: 210px;
    height: 55px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 50px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px #c1c1c1;
    transition: 0.2s ease-in-out;
}
.bouton:hover {
    opacity: 0.7;
    box-shadow: 3px 3px 5px #808080;
}

/*  FONCTIONNENMENT  */
#fonctionnement {
    margin: 20px 20px 80px 20px;
}
#fonctionnement h1 {
    margin-bottom: 30px;
    font-size: 150%;
    font-weight: 900;
}
.fonctionnement_encarts {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.fonctionnement_encart {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #c1c1c1;
    margin-bottom: 25px;
    font-weight: 700;
}
.fonctionnement_encart a {
    text-decoration: none;
}
.fonctionnement_encart i:hover {
    color: #9356dc;
}
.fonctionnement_numero {
    position: absolute;
    left: -10px;
    text-decoration: none;
    color: white;
    background-color: #9356dc;
    border-radius: 100%;
    padding: 4px 8px 4px 8px;
    font-size: 13px;
}
.fonctionnement_logo {
    color: grey;
    padding-top: 5px;
    margin: 0 20px 0 40px;
}
.fonctionnement_logo i {
    width: 20px;
    font-size: 120%;
}
.fonctionnement_text {
    color: black;
}

/*  RESTAURANTS  */
#restaurants {
    width: auto;
    height: 100%;
    padding: 10px 20px 40px 20px;
    margin-bottom: 25px;
}
#restaurants h1 {
    margin-bottom: 5px;
    font-weight: 900;
}
.restaurants_encarts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.restaurant_encart {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 15px 0 5px 0;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #c1c1c1;
}
.restaurant {
    text-decoration: none;
    color: black;
}
.restaurants_encarts img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0 0;
}
.photo_restaurant1,
.photo_restaurant3,
.photo_restaurant4 {
    object-position: bottom;
}
.photo_restaurant2 {
    object-position: 50% 61%;
}
.nouveau {
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: #99e2d0;
    color: #008766;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}
.restaurant_description {
    display: flex;
    flex-direction: column;
    font-size: 112%;
    font-weight: 500;
    padding: 15px;
}
.restaurant_nom {
    font-weight: 500;
}
.restaurant_detail {
    font-size: 95%;
    font-weight: 300;
    margin-top: 3px;
}
.coeur i {
    position: absolute;
    font-size: 150%;
    top: 200px;
    right: 20px;
}
i.fas.fa-heart {
    display: none;
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
    color: transparent;
}
.coeur:hover i.fa-heart {
    display: none;
}
.coeur:hover i.fas.fa-heart {
    display: block;
}
i.fa-heart:hover {
    cursor: pointer;
}

/*  FOOTER  */
footer {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: white;
    padding: 0 25px 35px 25px;
}
footer p {
    font-family: Shrikhand;
    font-size: 110%;
}
footer span {
    font-size: 95%;
    margin-bottom: 8px;
}
footer i {
    margin-right: 10px;
    width: 15px;
}
footer a {
    text-decoration: none;
    color: white;
}

/*  VERSION TEBLETTE  */
@media all and (min-width: 768px) and (max-width: 992px) {
    /*  LOCALISATION  */
    .barre_recherche {
        margin-left: 40%;
    }

    /*  BANIERE  */
    #baniere {
        padding: 25px 15px 20px 10px;
    }

    /*  FONCTIONNENMENT  */
    .fonctionnement_encarts {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .fonctionnement_encart {
        width: 40%;
    }

    /*  RESTAURANTS  */
    .restaurants_encarts {
        flex-direction: row;
    }
    .restaurant_encart {
        width: 48.5%;
    }
}

/*  VERSION DESKTOP  */
@media all and (min-width: 993px) {
    /*  HEADER  */
    header img {
        width: 15%;
    }

    /*  LOCALISATION  */
    .barre_recherche {
        margin-left: 46%;
    }
    .bouton {
        margin-bottom: 10px;
    }

    /*  FONCTIONNENMENT  */
    #fonctionnement {
        margin: 0 20px 0 20px;
    }
    .fonctionnement_encarts {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .fonctionnement_encart {
        width: 30%;
    }

    /*  RESTAURANTS  */

    .restaurants_encarts {
        flex-direction: row;
    }
    .restaurant_encart {
        width: 24%;
    }
    .photo_restaurant1 {
        object-position: center;
    }
    .photo_restaurant3 {
        object-position: 50% 90%;
    }
    .photo_restaurant4 {
        object-position: 50% 85%;
    }
}
